.card-border {
  border: 1px #e7e7e7 solid;
}
.divider-bold {
  height: 3px;
}
.content-box {
  display: inline-block;
  max-width: 85vw;
}
.right_menu_fixed {
  position: fixed;
  top: 23vh;
  right : 20px;
  width: 25vh;
}
.overlay-img {
  background-color: rgba(0, 0, 0, 0.5);
}

